head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
  link(rel="stylesheet", href=`${h.site.css}`)
  title= title ? `${title} | ${h.site.name}` : `${h.site.name}`
  meta(name="description" content=`${h.site.description}`)
  meta(name="author" content=`${h.site.author}, ${h.site.authorUri}`)
  meta(name="keywords" content=`${h.site.keywords}`)
