mixin itemStoresSelector(item)
  .item__storesSelector.col-4
    if h.storesWithThisItem(item).length > 0
      span.mr1.mono.red from:
      each store in h.storesWithThisItem(item)
        .item__storesSelector-storeWrapper
          input(type="radio" name=`${item.slug}-store` id=`${item.slug}-${store}` value=`${store}`).item__storesSelector-storeInput
          label(for=`${item.slug}-${store}`).item__storesSelector-storeLabel= h.storesDict[store]
          if store === 'tj' || store === 'moms'
            input(type="hidden" name=`${item.slug}-${store}.itemArea` id=`${item.slug}-${store}-area` value=`${item.stores[store].itemArea}`)

