mixin itemStoresSelector(item)
  .item__storesSelector.col-4
    if item.stores.length > 0
      span.mr1.mono.red from:
      each store in item.stores
        .item__storesSelector-storeWrapper
          input(type="radio" name=`${item.slug}-store` id=`${item.slug}-${store}` value=`${store}`).item__storesSelector-storeInput
          label(for=`${item.slug}-${store}`).item__storesSelector-storeLabel= h.stores[store].name.toLowerCase()
          if (item[`${store}Area`] && typeof item[`${store}Area`] === 'number')
            input(type="hidden" name=`${item.slug}-${store}Area` id=`${item.slug}-${store}Area` value=(item[`${store}Area`]))

