include copiesBadge
mixin list()

  form
    ol.list-reset.mb0
      each item in items
        li.item.flex
          input(class="item__hidden-input" type="checkbox" id=`${item.slug}` name=`${item.slug}`)
          label(for=`${item.slug}` class="item__label")
            span(class="item__checkbox")
            span(class="item__text blue")= (item.name && item.variant ? `${item.name} ${item.variant}` : `${item.name}`)
          .copiesBadge-wrapper.flex-auto.flex.flex-center.px2
            - let [num, max] = [2,5];
              while num <= max
                +copiesBadge(num)
                - num++

  script(src="js/numberInput.js")
